body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin: 20px auto 20px auto;
    background-size: 100% 100%;

}

p {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-size: 1.5em;
    color: #525252;
}

.box {
    background: white;
    width: 600px;
    border-radius: 6px;
    margin: 0 auto 0 auto;
    padding: 0px 0px 20px 0px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient( to bottom, #b224ef, #7579ff) 1 100%;
}

.bigbox {
    height: 810px;
    width: 700px;
    margin: 50px auto 0 auto;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}

.bigbox .box {
    margin: 25px auto 25px auto;
}

.email {
    background: #ecf0f1;
    border: #7579ff 1px solid;
    border-bottom: #7579ff 2px solid;
    padding: 8px;
    width: 300px;
    color: #000000;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
    position: absolute;
    right: 500px;
}

.password {
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 250px;
    font-size: 1em;
}

.btn3 {
    background: white;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #555555;
    border-radius: 4px;
    border: #b224ef 2px solid;
    margin: 40px auto auto auto;
    font-weight: 800;
    font-size: 0.8em;
    transition: all 0.4s;
}

.btn3:hover {
    background: #9152f8;
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
    background: -o-linear-gradient(bottom, #7579ff, #b224ef);
    background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
    background: linear-gradient(bottom, #7579ff, #b224ef);
    color: white;
}

.brand img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 4px;
}

.elements{
    width:500px;
    height:40px;
    margin-top: 10px;
    display: flex;
    margin-left: 10%;
}

.elements label{
    float: left;
    padding-top: 20px;
    margin-left: -20px;
}

.elements input{
    float: left;
}

.chkbox{
    width:500px;
    margin-top: 10px;
    display: flex;
    margin-left: 10%;
}

.chkbox label{
    float: left;
    padding-top: 20px;
}


.optrow{
    display: flex;
}

.inbx{
    width: 15px;
    height: 15px;
    margin-top: 20px;
    margin-left: 70px;
}

.inbxr{
    width: 15px;
    height: 15px;
    margin-top: 20px;
    position: absolute;
    right:670px;
}

.optrow .r{
    position: absolute;
    left: 850px;
}
