# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\The Den\WEBbed with creases\unwind\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
